<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Connexion - MyBank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
<header class="container">
    <nav>
        <ul>
            <li><a href="/">← Accueil</a></li>
        </ul>
        <ul>
            <li><a href="/register">Créer un compte</a></li>
        </ul>
    </nav>
</header>
<main class="container" x-data="loginApp()">
    <h1>Connexion</h1>
    <form @submit.prevent="login()">
        <div class="grid">
            <input x-model="credentials.login" name="login" placeholder="Login" required>
            <input x-model="credentials.password" name="password" type="password" placeholder="Mot de passe" required>
            <button type="submit" :disabled="loading">
                <span x-show="!loading">Se connecter</span>
                <span x-show="loading">Connexion...</span>
            </button>
        </div>
    </form>
    <small x-show="error" x-text="error" style="color: var(--pico-del-color);"></small>
    <p>Pas encore de compte ? <a href="/register">Créer un compte</a></p>
</main>
<script src="/js/app.js"></script>
<script>
    function loginApp() {
        return {
            credentials: {
                login: '',
                password: ''
            },
            error: '',
            loading: false,

            login() {
                this.error = '';
                this.loading = true;

                fetchWithRedirect('/api/auth/login', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(this.credentials)
                }, false)
                    .then(resp => {
                        Auth.token = resp.token;
                        Auth.clientId = resp.clientId;
                        Auth.login = resp.login;

                        window.location.href = `/accounts`;
                        this.loading = false;
                    })
                    .catch((e) => {
                        this.error = e.message || 'Erreur';
                        this.loading = false;
                    });
            }
        }
    }
</script>
</body>
</html>